
  <div class="panel panel-primary">
     <div class="panel-heading">マイプロフィール</div>
     <table class="table">
        <thead>
         <tr>
            <th>Name</th><th>Email</th><th>Area</th>
         </tr>
        </thead>
        <tbody>
         <tr>
            <td><%= @user.name %></td><td><%= @user.email %></td><td><%= @user.area %></td>
         </tr>
        </tbody>
     </table>
    </div>
  
  <%= link_to "プロフィールの編集", edit_user_path, class:"btn btn-large btn-success" %>

  
<div class="row">
  
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "フォロー", "/users/followings", class:"btn btn-small btn-info" %>
      <%= link_to "フォロワー", "/users/followers", class:"btn btn-small btn-info" %>
    </section>
  </aside>
  
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
  
</div>